<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Gajraj Caterers</title>
    <meta name="author" content="Logyana Solutions" />
    <meta
      name="keywords"
      content="CSS, HTML5, clean, restaurant, jQuery, retina, bootstrap"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- bootstrap grid -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <!-- bootstrap theme -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- template styles -->
    <link rel="stylesheet" href="css/color-default.css" />
    <!-- default template color styles -->
    <link rel="stylesheet" href="css/retina.css" />
    <!-- retina ready styles -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- responsive styles -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- animation for content -->

    <!-- Magnific Popup - image lightbox -->
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <!-- Google Web fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Suranna"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montez"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Font icons -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <!-- Font awesome icons -->
    <script
      src="https://kit.fontawesome.com/a71853c901.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="icon-bar">
      <a
        href="https://facebook.com/GajrajCaterer/"
        class="facebook"
        target="_blank"
      >
        <i class="fa fa-facebook"></i>
      </a>
      <a
        href="https://www.instagram.com/gajrajcaterers/"
        class="instagram"
        target="_blank"
      >
        <i class="fa fa-instagram"></i>
      </a>
      <a href="tel:+91-9511990088" class="phone"><i class="fa fa-phone"></i></a>
      <a
        href="https://api.whatsapp.com/send?phone=9511990088"
        class="whatsapp"
        target="_blank"
      >
        <i class="fa fa-whatsapp" style="font-size: 23px"></i>
      </a>
    </div>

    <!-- .header-wrapper start -->
    <div id="header-wrapper">
      <!-- #header start -->
      <header id="header">
        <!-- Main navigation and logo container -->
        <div class="header-inner">
          <!-- .container start -->
          <div class="container">
            <!-- .main-nav start -->
            <div class="main-nav">
              <!-- .row start -->
              <div class="row">
                <div class="col-md-12">
                  <!-- .navbar start -->
                  <nav class="navbar navbar-default nav-left">
                    <!-- .navbar-header start -->
                    <div class="navbar-header">
                      <!-- .logo start -->
                      <div class="logo">
                        <a href="/">
                          <img src="img/logo.png" style="width:150px"
                          "height:80px" alt="Gajraj Caterers">
                        </a>
                      </div>
                      <!-- logo end -->
                    </div>
                    <!-- .navbar-header end -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav pi-nav">
                        <li class="dropdown">
                          <a href="/">Home</a>
                        </li>

                        <li class="dropdown"><a href="/about">About</a></li>

                        <li class="dropdown">
                          <a href="/catering">Catering</a>
                          <ul class="dropdown-menu">
                            <li><a href="/catering">Catering</a></li>
                            <li><a href="/menu">Menu</a></li>
                          </ul>
                          <!-- .dropdown-menu end -->
                        </li>

                        <li class="current-menu-item">
                          <a href="/gallery">Gallery</a>
                        </li>

                        <li>
                          <a href="/contact">Contact</a>
                        </li>
                      </ul>
                      <!-- .nav.navbar-nav.pi-nav end -->

                      <!-- Responsive menu start -->
                      <div id="dl-menu" class="dl-menuwrapper">
                        <button class="dl-trigger"></button>

                        <ul class="dl-menu">
                          <li>
                            <a href="/">Home</a>
                          </li>
                          <!-- Home li end -->

                          <li>
                            <a href="/about">About</a>
                          </li>
                          <!-- About li end -->

                          <li>
                            <a href="/menu">Menu</a>
                          </li>
                          <!-- Menu li end -->
                          <li>
                            <a href="/catering">Catering</a>
                          </li>
                          <!-- Catering li end -->
                          <li>
                            <a href="/gallery">Gallery</a>
                          </li>
                          <!-- Gallery li end -->
                          <li>
                            <a href="/contact">Contact</a>
                          </li>
                          <!-- Contact li end -->
                        </ul>
                        <!-- .dl-menu end -->
                      </div>
                      <!-- (Responsive menu) #dl-menu end -->
                    </div>
                    <!-- .navbar.navbar-collapse end -->
                  </nav>
                  <!-- .navbar end -->
                </div>
                <!-- .col-md-12 end -->
              </div>
              <!-- .row end -->
            </div>
            <!-- .main-nav end -->
          </div>
          <!-- .container end -->
        </div>
        <!-- .header-inner end -->
      </header>
      <!-- #header end -->
    </div>
    <!-- #header-wrapper end -->

    <!-- .page-content start -->
    <div
      class="page-content custom-img-background dark page-title page-title-4 mb-100"
    >
      <div class="container">
        <!-- .row start -->
        <div class="row">
          <!-- .col-md-12 start -->
          <div class="col-md-12 centered">
            <div
              class="custom-heading style-1 triggerAnimation animated"
              data-animate="fadeInUp"
            >
              <h1><span>Gallery</span></h1>
              <h1>Take a look inside</h1>
            </div>
            <!-- .custom-heading.style-1 end -->
          </div>
          <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
      </div>
      <!-- .container end -->
    </div>
    <!-- .page-content end -->

    <!-- .page-content start -->
    <div class="page-content">
      <!-- .container start -->
      <div class="container">
        <!-- .row start -->
        <div class="row gallery-filters">
          <div
            class="col-md-12 mb-20 centered triggerAnimation animated"
            data-animate="fadeIn"
          >
            <div class="custom-heading style-1">
              <h3><span>Exquisite ambient</span></h3>
              <h3>Restaurant gallery</h3>

              <!-- .divider.style-1 start -->
              <div class="divider style-1 center">
                <span class="hr-simple left"></span>
                <i class="fa fa-circle hr-icon"></i>
                <span class="hr-simple right"></span>
              </div>
            </div>
            <!-- .custom-heading.style-1 end -->
            <ul id="filters">
              <li class="active"><a href="#" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".indoor">Indoor</a></li>
              <li><a href="#" data-filter=".outdoor">Outdoor</a></li>
            </ul>
          </div>
          <!-- .col-md-12 end -->
        </div>
        <!-- .row.gallery-filters end -->
      </div>
      <!-- .container end -->
    </div>
    <!-- .page-content end -->

    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <ul id="galleryitems" class="isotope isotopeitems-full">
            <li class="col-xs-6 col-md-3 isotope-item outdoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-18.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-18.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->

            <li class="col-xs-6 col-md-3 isotope-item outdoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-19.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-19.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->

            <li class="col-xs-6 col-md-3 isotope-item indoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-20.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-20.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->

            <li class="col-xs-6 col-md-3 isotope-item indoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-21.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-21.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->

            <li class="col-xs-6 col-md-3 isotope-item indoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-22.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-22.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->

            <li class="col-xs-6 col-md-3 isotope-item indoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-23.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-23.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->
            <li class="col-xs-6 col-md-3 isotope-item outdoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-24.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-24.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->
            <li class="col-xs-6 col-md-3 isotope-item outdoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-25.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-25.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->
            <li class="col-xs-6 col-md-3 isotope-item indoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-26.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-26.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->
            <li class="col-xs-6 col-md-3 isotope-item indoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-27.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-27.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->
            <li class="col-xs-6 col-md-3 isotope-item indoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-28.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-28.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->
            <li class="col-xs-6 col-md-3 isotope-item outdoor">
              <figure class="gallery-item-container">
                <div class="gallery-img">
                  <img src="img/pics/img-29.jpg" alt="Gajraj Caterers" />

                  <div class="hover-mask-container">
                    <div class="hover-zoom">
                      <a
                        href="img/pics/img-29.jpg"
                        class="triggerZoom fa fa-search"
                      ></a>
                    </div>
                    <!-- .hover-zoom end -->
                  </div>
                  <!-- .hover-mask-container end -->
                </div>
                <!-- .gallery-img end -->
              </figure>
              <!-- .gallery-item-container end -->
            </li>
            <!-- .isotope-item end -->
          </ul>
          <!-- #galleryitems.isotope end -->
        </div>
        <!-- .row end -->
      </div>
      <!-- .container-fluid end -->
    </div>
    <!-- .page-content end -->
    <!-- .page-content start -->
    <div class="page-content">
      <div class="container">
        <!-- .row start -->
        <div class="row">
          <!-- .col-md-12 start -->
          <div class="col-md-12 centered mb-0">
            <div class="custom-heading style-1">
              <h3><span>Reservation</span></h3>
              <h3>Book your table</h3>

              <!-- .divider.style-1 start -->
              <div class="divider style-1 center">
                <span class="hr-simple left"></span>
                <i class="fa fa-circle hr-icon"></i>
                <span class="hr-simple right"></span>
              </div>
            </div>
            <!-- .custom-heading.style-1 end -->
          </div>
          <!-- .col-md-12 end -->
          <!-- .col-md-12 start -->
          <div class="col-md-12 centered open-table-widget-style-2">
            <!-- Open table widget start -->
            <div
              class="otw-bare-bones-style widget open-table-widget triggerAnimation animated"
              data-animate="fadeIn"
            >
              <div class="otw-bare-bones">
                <div class="otw-widget-form-wrap">
                  <form method="POST" action="/submit" class="otw-widget-form">
                    <div class="otw-wrapper">
                      <div class="otw-name-wrap otw-input-wrap">
                        <input
                          name="name"
                          class="otw-reservation-name"
                          type="text"
                          placeholder="Your name"
                        />
                      </div>
                      <div class="otw-email-wrap otw-input-wrap">
                        <input
                          name="email"
                          class="otw-reservation-email"
                          type="text"
                          placeholder="Your email"
                        />
                      </div>
                      <div class="otw-name-wrap otw-input-wrap">
                        <input
                          name="phone"
                          class="otw-reservation-name"
                          type="text"
                          placeholder="Mobile no."
                        />
                      </div>
                      <div class="otw-date-wrap otw-input-wrap">
                        <input
                          name="date"
                          class="otw-reservation-date"
                          type="text"
                          value="17/09/2016"
                          autocomplete="off"
                          data-date-format="mm/dd/yyyy"
                        />
                      </div>
                      <div
                        name="people"
                        class="otw-party-size-wrap otw-input-wrap"
                      >
                        <select
                          name="people"
                          class="otw-party-size-select selectpicker"
                        >
                          <option value="1">1 person</option>
                          <option value="2">2 people</option>
                          <option value="3">3 people</option>
                          <option value="4">4 people</option>
                          <option value="5">5 people</option>
                          <option value="6">6 people</option>
                          <option value="7">7 people</option>
                          <option value="8">8 people</option>
                          <option value="9">9 people</option>
                          <option value="10">10 people</option>
                          <option value="11">11 people</option>
                          <option value="12">12 people</option>
                          <option value="13">13 people</option>
                          <option value="14">14 people</option>
                          <option value="15">15 people</option>
                        </select>
                      </div>
                      <div name="time" class="otw-time-wrap otw-input-wrap">
                        <select
                          name="time"
                          class="otw-reservation-time selectpicker"
                        >
                          <option value="6:00pm">6:00 pm</option>
                          <option value="6:30pm">6:30 pm</option>
                          <option value="7:00pm">7:00 pm</option>
                          <option value="7:30pm">7:30 pm</option>
                          <option value="8:00pm">8:00 pm</option>
                          <option value="8:30pm">8:30 pm</option>
                          <option value="9:00pm">9:00 pm</option>
                          <option value="9:30pm">9:30 pm</option>
                          <option value="10:00pm">10:00 pm</option>
                          <option value="10:30pm" selected="selected">
                            10:30 pm
                          </option>
                        </select>
                      </div>

                      <div name="event" class="otw-time-wrap otw-input-wrap">
                        <select
                          name="event"
                          class="otw-reservation-time selectpicker"
                        >
                          <option selected="Event Type">Event Type</option>
                          <option value="Weddings">Weddings</option>
                          <option value="Office Parties">Office Parties</option>
                          <option value="Corporate Functions">
                            Corporate Functions
                          </option>
                          <option value="Anniversaries">Anniversaries</option>
                          <option value="Formal Receptions">
                            Formal Receptions
                          </option>
                          <option value="Coffee Breaks">Coffee Breaks</option>
                          <option value="Housewarming Parties">
                            Housewarming Parties
                          </option>
                          <option value="Birthdays/ Holidays">
                            Birthdays/ Holidays
                          </option>
                          <option value="Luncheons">Luncheons</option>
                          <option value="Box Lunches">Box Lunches</option>
                          <option value="Party Platters">Party Platters</option>
                          <option value="Dinner Parties">Dinner Parties</option>
                        </select>
                      </div>

                      <button type="submit" class="submitBtn">
                        Book Event
                      </button>
                    </div>
                  </form>
                </div>
                <!-- .otw-widget-form-wrap end -->
              </div>
            </div>
            <!-- Open table widget end -->
          </div>
          <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
      </div>
      <!-- .container end -->
    </div>
    <!-- .page-content end -->

    <!-- #footer-wrapper start -->
    <div id="footer-wrapper">
      <!-- #footer start -->
      <footer id="footer">
        <!-- .container start -->
        <div class="container">
          <!-- .row start -->
          <div class="row mb-60">
            <!-- .col-md-4 start -->
            <div class="col-md-4"></div>
            <!-- .col-md-4 end-->

            <!-- .col-md-4 start -->
            <div class="col-md-4 centered">
              <a href="index-2.html">
                <img src="img/logo.png" alt="Gajraj Caterers" />
              </a>

              <ul class="contact-info-list">
                <li>
                  Ramraksha, 3rd floor, Anandnagar, Old Sanghvi Pune,
                  Maharashtra
                </li>
                <li><span>RESERVATIONS NUMBER:</span> +91- 95119 90088</li>
              </ul>
            </div>
            <!-- .col-md-4 end -->

            <!-- .col-md-4 start -->
            <div class="col-md-4"></div>
            <!-- .col-md-4 end-->
          </div>
          <!-- .row end -->

          <!-- .row start -->
          <div class="row mb-40">
            <!-- .col-md-6 start -->
            <div class="col-md-6">
              <!-- .social-links start -->
              <ul class="social-links">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
              <!-- .social-links end -->
            </div>
            <!-- .col-md-6 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </footer>
      <!-- #footer end -->
    </div>
    <!-- #footer-wrapper end -->

    <!-- #copyright-container start -->
    <div id="copyright-container">
      <!-- .container start -->
      <div class="container">
        <!-- .row start -->
        <div class="row">
          <!-- .col-md-6 start -->
          <div class="col-md-6">
            <p>© Gajraj Caterers 2020. All rights reserved.</p>
          </div>
          <!-- .col-md-6 end -->

          <!-- .col-md-6 start -->
          <div class="col-md-6">
            <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/menu">Menu</a></li>
              <li><a href="/catering">Catering</a></li>
              <li><a href="/menu">Menu</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
      </div>
      <!-- .container end -->

      <a href="#" class="scroll-up"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- .copyright-container end -->

    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- jQuery library -->
    <script src="js/bootstrap.min.js"></script>
    <!-- .bootstrap script -->
    <script src="js/jquery.scripts.min.js"></script>
    <!-- modernizr, retina, stellar for parallax -->
    <script src="js/gallery.js"></script>
    <!-- for gallery -->
    <script src="js/jquery.dlmenu.min.js"></script>
    <!-- for responsive menu -->
    <script src="js/include.js"></script>
    <!-- custom js functions -->
    <script src="js/jquery.isotope.min.js"></script>
    <!-- jQuery isotope plugin -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- used for image lightbox -->
    <script src="js/TweenMax.min.js"></script>
    <!-- Plugin for smooth scrolling-->
    <script src="js/ScrollToPlugin.min.js"></script>
    <!-- Plugin for smooth scrolling-->

    <script>
      /* <![CDATA[ */
      jQuery(document).ready(function ($) {
        "use strict";

        // BOOKING FORM AJAX SUBMIT START
        $(".otw-widget-form .otw-submit").on("click", function (event) {
          event.preventDefault();
          var $form = $(this).closest("form");

          var name = $form.find(".otw-reservation-name").val();
          var email = $form.find(".otw-reservation-email").val();
          var date = $form.find(".otw-reservation-date").val();
          var time = $form.find(".otw-reservation-time").val();
          var guests = $form.find(".otw-party-size-select").val();
          var form_data = new Array({
            Name: name,
            Email: email,
            Date: date,
            Time: time,
            Guests: guests,
          });
          $.ajax({
            type: "POST",
            url: "contact.php",
            data: {
              action: "book_table",
              form_data: form_data,
            },
          }).done(function (data) {
            alert(data);
          });
        }); // BOOKING FORM AJAX SUBMIT END
      });
      /* ]]> */
    </script>
  </body>
</html>
